.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-green);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  width: 100vw;
  max-width: 760px;
  background-color: var(--color-black);
}

.header {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 0.5rem;
}

.title {
  width: 80%;
  min-width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--color-black);
  margin: 1rem;
  background-color: var(--color-yellow);
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 30px;
}

.setting {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 10rem;
  padding-right: 0.4rem;
  position: relative;
}

.mode {
  height: 36px;
  width: 76px;
  position: relative;
}

.modeIcons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 18px;
}

.mode.rotate > .modeIcons {
  border: solid 2px var(--color-gray);
  transition: all 0.3s;
}

.mode.color > .modeIcons {
  border: solid 2px var(--color-green);
  transition: all 0.3s;
}

.modeIcons > * {
  z-index: 1;
  width: 24px;
  height: 24px;
  margin: 4px;
}

.indicator {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 2px;
}

.mode.rotate > .indicator {
  left: 0;
  background-color: var(--color-gray);
  transition: all 0.3s;
}

.mode.color > .indicator {
  left: 40px;
  background-color: var(--color-green);
  transition: all 0.3s;
}

.tileMap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.tileRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tile {
  width: 12.5%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile > * {
  width: 96%;
  height: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tileRotate > * {
  transform: rotate(90deg);
}
